@model IEnumerable<Portal_Project.Models.Portal.DMC.Product>

@{
    ViewData["Title"] = "Products List";
}

<h1><i class="fas fa-list"></i> @ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><i class="fas fa-plus"></i> Create New</a>
    <a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fas fa-undo-alt"></i> Return</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.BasePrice)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th>Commands</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            int rowNumber = 0;

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(++rowNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.BasePrice)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StatusTitle)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a> |
                        <a asp-action="Bids" asp-route-id="@item.ProductID">Bids</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No record found...</td>
            </tr>
        }
    </tbody>
</table>